.calc {
    display: flex;
    flex-wrap: wrap;
    border: 10px solid black;
    align-items: flex-start;
    border-radius: 10px;
    width: 400px;
    height: 600px;
    background-color: black;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.display-container {
    display: flex;
    height: 80px;
    width: 400px;
    justify-content: center;
    align-items: center;
}

.display {
    height: 70px;
    width: 390px;
    background-color: gray;
    border: 4px solid black;
    border-radius: 10px;
    color: black;
    font-size: 60px;
    text-align: right;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
}

